@import url('https://fonts.googleapis.com/css2?family=Monda:wght@400..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

h1,
h2 {
    font-family: "Raleway", sans-serif;
}

p,
input {
    font-family: "Montserrat", sans-serif;
}


body {
    font-family: "Raleway", sans-serif;
    background: linear-gradient(#e7ea3b, rgb(233, 152, 72));
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: left;
    min-height: 100vh;
}

#global-content {
    width: 100%;
    min-height: 70vh;
    height: 40%;
    background-color: #0f0f0f;
    padding: 30px;
    margin: 50px 0px 0px 70px;
    border-radius: 10px;
    max-width: 500px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 2px solid #dff;
}

h1 {
    color: #d3461b;
}


h2 {
    margin: 30px 0px 15px 0px;
    font-size: 20px;
    color: #d3461b;
}

form {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

form input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    background-color: #0f514d;
    color: white;
    border: none;
    padding: 0 15px;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

form button:hover {
    background-color: #218838;
}


.item-to-do {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f8f9fa;
    padding: 10px 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    border-left: 5px solid #d3461b;
    transition: background-color 0.2s ease;
}

.item-to-do.completed {
    border-left-color: #6c757d;
    background-color: #e9ecef;
}

.item-to-do p {
    flex: 1;
    margin: 0 10px;
    color: #333;
}

.item-to-do input[type="checkbox"] {
    transform: scale(1.2);
}

.item-to-do button {
    background-color: #dc3545;
    color: white;
    border: none;
    font-size: 16px;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.item-to-do button:hover {
    background-color: #c82333;
}

hr {
    border: none;
    height: 1px;
    background-color: #ddd;
    margin: 30px 0;
}

.info {
    margin: 50px 0px 0px 50px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0px;
    justify-content: center;
    min-height: 70vh;
    height: 40%;
}

.info h1 {
    margin: 0px;
    font-size: 60px;
}

.info h1 span {
    color: #d3461b;
}

.info h2 {
    margin: 0px;
    color: #101010;
}

.info{
    font-weight: bold;
}

/* #cont-complete-list .item-to-do p{
    text-decoration: line-through;
} */

#change-styles {
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding: 20px;
    background-color: #0d0d0d;
    color: #fff;
    cursor: pointer;
    border-radius: 20px;
}